Long log messages gets truncated

Hi,

long log messages gets truncated (>1k). 

## Description
The reason for the message truncation seems to be the usage of [udp for local communiation](https://github.com/cloudfoundry/syslog-release/blob/72f4f8cd2ce2f5a6455e21a90923a51a976f0852/jobs/syslog_forwarder/templates/rsyslog.conf.erb#L45-L47).   
  
More information: https://stackoverflow.com/questions/2011986/does-syslog-really-have-a-1kb-message-limit  http://www.syslog.cc/ietf/drafts/draft-ietf-syslog-protocol-02-html.html#SecPacket

We changed the configuration manually to `tcp` and were able to send a message with 4k without splitting:
```
$ModLoad imtcp
$InputTCPMaxSessions 500
$InputTCPServerRun 514
```

## Context
The `syslog-release` is used in [cf-deployment](https://github.com/cloudfoundry/cf-deployment/blob/master/operations/addons/enable-component-syslog.yml) and especially logs from `cloud_controller` and `rep` are usually very long and in `json` format. Parsing of a `json` message will also fail.

## How to reproduce

EDIT: Thanks to @giner I adjusted this section
```
cat test-file-with-more-than-1k-content.txt >> /var/vcap/sys/log/existing_log_file.log
```
e.g. adjust `/etc/rsyslog.d/rsyslog.conf` to write to localhost `nc -l port`

## Solution

Not sure if something speaks against switching to `tcp`. A configuration switch could be also an option.


We have created an issue in Pivotal Tracker to manage this. Unfortunately, the Pivotal Tracker project is private so you may be unable to view the contents of the [story](https://www.pivotaltracker.com/story/show/153481456). 

The labels on this github issue will be updated when the story is started.

logger in Ubuntu 14.04 has a hard-coded max-size which is 1k

To fix this we package the latest logger manually
```
$ cat packages/logger/packaging

# abort script on any command that exits with a non zero value
set -e

tar xzf util-linux/util-linux-2.31.tar.gz
pushd util-linux-2.31
	./configure --without-ncurses --without-ncursesw --disable-nls --prefix=${BOSH_INSTALL_TARGET} --disable-bash-completion --without-systemd
	make logger
	make install
popd
```

And then use it as:
```
LOGGER=/var/vcap/packages/logger/bin/logger
exec 1> >( tee -a /var/vcap/sys/log/nginx_ctl.log     | $LOGGER -p user.info  -t vcap.nginx.ctl --size <%= p('nginx.logger_size') %> )
exec 2> >( tee -a /var/vcap/sys/log/nginx_ctl.err.log | $LOGGER -p user.error -t vcap.nginx.ctl --size <%= p('nginx.logger_size') %> )
```

@giner thanks for pointing out. We must have done the initial test with `logger` and then when we manually switched to `tcp` we used `nc` directly to send messages. 
We assumed that `udp` is the problem and didn't take `logger` into account.

Then there seems to be on another level a limitation, since the `syslog-forwarder` is using [blackbox](https://github.com/concourse/blackbox) to forward logs.

The cause seems to be indeed `udp`.   [blackbox](https://github.com/concourse/blackbox) is using [remote_syslog2](https://github.com/papertrail/remote_syslog2). 

https://github.com/papertrail/remote_syslog2/issues/91

> All log lines are truncated to a maximum of 1024 characters. This restriction comes from RFC 3164 section 4.1:
The total length of the packet MUST be 1024 bytes or less.
Additionally, the generally-accepted MTU of the Internet is 1500 bytes, so regardless of the RFC, UDP syslog packets longer than 1500 bytes would not arrive. For details or to use TCP syslog for longer messages, see help.papertrailapp.com.



As description was updated my comment doesn't make sense anymore :)

To clarify, are you seeing the truncation only upon transmission, or are you seeing it locally, as well?

Yes only upon transmission. In the corresponding logfiles the logs are not truncated. The truncation can be seen in `/var/log/syslog` and our Infrastructure Logging (configured as `syslog.address`).

Alright, we've done some investigation, and think we understand what to change and what would be involved. Switching blackbox's config to use `tcp` transport seems appropriate. We're setting this story down for now, but will be re-prioritizing it now that we understand the issue/fix, probably tomorrow.

We're now working this problem, and I just want to articulate our understanding of the situation, in case we're missing something.

Currently, (some) logs get truncated before they reach rsyslog. This happens in (at least) two ways:
1. The `syslog` packaged with the stemcell had a hardcoded limit on message size. This means any job using a tee function that relies on `syslog` (such as [cloud_controller][cc_tee]) will see messages sent to syslog directly truncated. There is a workaround for this (thanks, @giner!), and we're not going to try to fix it, because `syslog` isn't the only way to write to rsyslog, helping jobs write to rsyslog is beyond the responsibilities of this release (except via blackbox, see below), and in cf-d we're now using blackbox and explicitly dropping all the messages sent as `vcap.` anyway.
2. `blackbox`'s configuration is hardcoded to use UDP when reading logfiles into syslog. Using UDP rather than TCP causes the underlying library to respect all the old syslog protocol restrictions, and truncate packets. This we can fix, by changing the blackbox config to use TCP.

[cc_tee]: https://github.com/cloudfoundry/capi-release/blob/760b3274984faaa08dbf9fe06e5f18a8ef8ed652/src/capi_utils/syslog_utils.sh#L26

We're still working on this, though somewhat indirectly.

Switching from UDP to TCP for local log transport represents a potentially significant performance risk. There are alternatives, but none are as simple, and some are just as risky, or riskier.

We are working on getting to the point where we can reasonably performance test a fix. If we can mitigate the risk of the protocol switch by testing its impact and deeming it acceptable, we should be able to fix this in relatively short order.

If not, we may need to expose this as configuration while we search for a more robust solution, so that users may make their own tradeoff decision between log trucation and performance risk in the meantime.

@anEXPer yes, we would use that option.

Our latest release, adds a temporary workaround: https://github.com/cloudfoundry/syslog-release/releases/tag/v11.1.0

We're going to leave this issue open, because we think this should be more definitively addressed in the medium term, but we're not sure which of several approaches we'll be taking, yet.

Just as a heads up, we found that fixing this issue surfaced another one:
https://github.com/cloudfoundry/syslog-release/issues/37

While the diego logs, etc, that were being corrupted here aren't affected, some exceptionally long optional logs may require you to use the `syslog.custom_rule` property to increase rsyslog's `$MaxMessageSize`, as described in that issue, to avoid truncation or corruption.

We're going to close this issue now; we'd greatly appreciate feedback on how using TCP for blackbox has worked in your environments; it's something we may consider making the default in the future if we get feedback that it works well at scale.

@Benjamintf1 we are using the TCP for blackbox since it has been released in all of our landscapes (on different IaaSes).
Except for https://github.com/cloudfoundry/syslog-release/issues/37 we didn't experienced any issues.

Thanks for the confirmation/update, glad it's working for you - at the margin, that makes it more likely we'll just roll to using TCP for local transport by default.